<h1 class="center">All Recipes</h1>
<hr/>
<% @recipes.each do |recipe| %>
<div class="row">
	<div class="col-md-2">
		<div class="chef_info center">
			<%= gravatar_for recipe.chef, size: 100 %>
			<h5>Chef name:<%= recipe.chef.chefname %></h5>
		</div>
	</div>
	<div class="col-md-6 well">
		<h4><%= link_to recipe.name, recipe_path( recipe ) %></h4>
		<p>
			<%= recipe.summary %>
		</p>
		<p>
			<span class="quite"><small><%= time_ago_in_words( recipe.created_at ) %> ago</small></span>
		</p>
	</div>
	<div class="col-md-4">
		<%= image_tag( recipe.picture.url, width: '250', class: 'gravatar') if recipe.picture? %>
	</div>
</div>
	<hr/>
<% end %>